<header class="sg-header" role="banner">
  <a href="#sg-nav-container" class="sg-nav-toggle">Menu</a>
  <div class="sg-nav-container" id="sg-nav-container">
    {{> patternNav }}
    {{> ishControls }}
  </div>
</header>