<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{default description site.description}}">

<title id="title">
  {{site.title}}
</title>

<link rel="stylesheet" href="{{assets}}/css/styleguide/styleguide.css" media="all">
<link rel="stylesheet" href="{{assets}}/css/styleguide/prism.css" media="all">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="styleguide/js/jquery.js"><\/script>')</script>