<!DOCTYPE html>
<html id="patternlab-html">
  <head id="patternlab-head">
    {{> head }}
  </head>
  <body id="patternlab-body">

  	<!-- Styleguide header -->
  	{{> header }}

  	<!-- iframe -->
  	<div id="sg-vp-wrap">
  		<div id="sg-cover"></div>
  		<div id="sg-gen-container">
  			<iframe id="sg-viewport" sandbox="allow-same-origin allow-scripts"></iframe>
  			<div id="sg-rightpull-container">
  				<div id="sg-rightpull"></div>
  			</div>
  		</div>
  	</div>

  	<!-- JavaScripts -->
  	{{> javascripts }}
  </body>
</html>